.ccontainer{
  width: 70px;
   height: 300px;
   border: 1px solid #c3c3c3;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
}

.Ac{
background-color:coral;
width: 70px;
 height: 70px;
}
.Bc{
  background-color:lightblue;
  width: 70px;
 height: 70px;
}
.Cc{
  background-color:pink;
  width: 70px;
 height: 70px;
}


-------------------------------------------------

div > p {
  background-color: yellow;
}
.icontainer{

  width: 220px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;

}
.Ai{
  background-color:coral;
}
.Bi{
  background-color:lightblue;
}
.Ci{
  background-color:pink;
}


-------------------------------------------------
.scontainer{

  width: 220px;
    height: 300px;
    border: 1px solid black;
    display: flex;
  align-items: flex-start;

}
.scontainer div{
  flex: 1;
}
.As{
  background-color:coral;
}
.Bs{
  background-color:lightblue;
  align-self: center;
}
.Cs{
  background-color:pink;
}
