#box1{
  background-color: lightblue;
  height:  200px;
  width: 150px;
  position: relative;
  left:30px;
}

.para{text-align:right;

}
#box2{
  background-color: purple;
  height:  300px;
  width: 150px;
  position: absolute;
  right:30px;
}
